<nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
  
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#" [routerLink]="['/home']" *ngIf="toggleMenuItems">Home</a>
          </li>
         
          <li>
            <a href="#" [routerLink]="['/listpost']" *ngIf="toggleMenuItems">List Post</a>
          </li>
          <li>
            <a href="#"[routerLink]="['/login']"  *ngIf="!toggleMenuItems">Login</a>
          </li>
          <li>
            <a href="#"[routerLink]="['/register']"  *ngIf="!toggleMenuItems">Register</a>
          </li>
          <li>
            <a href="#"[routerLink]="['/post']"  *ngIf="toggleMenuItems">Create post</a>
          </li>
          <li>
            <a  (click)="onLogoutClick()" href="#" *ngIf="toggleMenuItems">Logout</a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>